.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* custom */

.img-wrapper img{
  width: 100px;
}

.cart-wrapper
{
  border: 1px solid rgb(0, 0, 0);
  width: 400px;
  margin: 10px;
  height: 150px;
}
.btn-wrapper button {
  margin-top: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

.item{
  float: left;
  display: inline-block;
  padding:20px;
  width: 120px;
}


.add-to-cart img {
  width: 90px;
  position: absolute;
  right: 10px;
  top: 10px;
}
/* //custom */
.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
